.text-centered{
	text-align: center;
}

.centered {
	margin: 0 auto;
}

.login{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

ul#dashboard-actions{

}

ul#dashboard-actions li{
	
}